html,
body,
#root {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: ivory;
    font-family: 'Bebas Neue', cursive;
}

/* .dragControls{
    z-index: 0;
} */


/* Market ================================ */
.btn {
    width: 120px;
    height: 30px;
    margin: 10px;
    border: 2px solid #ffffff;
    background: #ffffff44;
    font-size: x-large;
    border-radius: 3px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.btn:hover {
    background: #ffffff99;
    cursor: pointer;
}

.btn-gold {
    width: 120px;
    height: 30px;
    margin: 10px;
    border-radius: 3px;
    border: 2px solid #ffffff;
    background: #e8e24944;
    font-size: x-large;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.btn-gold:hover {
    background: #eac83099;
    cursor: pointer;
}

.market-nav {
    display: flex;
    justify-content: center;
}

.active-item {
    padding: 3px;
    margin: 5px;
    border-radius: 3px;
    border: 2px solid #ffffff;
    background: #d349e344;
    font-size: x-large;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.market-item {
    padding: 3px;
    border-radius: 3px;
    margin: 5px;
    border: 2px solid #ffffff;
    background: #ffffff44;
    font-size: x-large;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.market-item:hover {
    background: #ffffff99;
    cursor: pointer;
}





/**
 * Interface ==============================
 */
.interface {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    /* pointer-events: none; */
    font-family: 'Bebas Neue', cursive;
}

/**
 * Time
 */
.time {
    position: absolute;
    top: 15%;
    left: 0;
    width: 100%;
    color: #ffffff;
    font-size: 6vh;
    background: #00000033;
    padding-top: 5px;
    text-align: center;
}

/**
 * Restart
 */
.restart {
    display: flex;
    justify-content: center;
    position: absolute;
    top: 40%;
    left: 0;
    width: 100%;
    color: #ffffff;
    font-size: 80px;
    background: #00000033;
    padding-top: 10px;
    pointer-events: auto;
    cursor: pointer;
}

/**
 * Controls
 */
.controls {
    position: absolute;
    bottom: 0;
    width: 100%;
}

.controls .raw {
    position: absolute;
    bottom: 0;
    left: 0;
}

.market-btn {
    border-radius: 3px;
    width: 110px;
    height: 36px;
    margin: 5px;
    border: 2px solid #ffffff;
    color: #ffffff;
    background: #ffffff44;
    font-size: large;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.market-btn:hover {
    background: #ffffff99;
    cursor: pointer;
}

.games-btn {
    border-radius: 3px;
    width: 110px;
    height: 36px;
    margin: 5px;
    border: 2px solid #ffffff;
    color: #ffffff;
    background: #ffffff44;
    font-size: large;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.games-btn:hover {
    background: #ffffff99;
    cursor: pointer;
}

.game-item {
    padding: 3px;
    border-radius: 3px;
    margin: 5px;
    border: 2px solid #ffffff;
    background-size: cover;
    filter: grayscale();
    font-size: x-large;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100px;
}

.game-item:hover {
    cursor: pointer;
}

.avatarControls {
    position: absolute;
    right: 0;
    bottom: 0;
    display: flex;
    align-items: end;
}

.moveControls {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 5px;
}
 
.moveBtn {
    width: 25px;
    height: 25px;
    border-radius: 3px;
    border: 2px solid #ffffff;
    color: #ffffff;
    background: #ffffff44;
    font-size: small;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}
 
.jumpBtn {
    border-radius: 3px;
    margin: 5px;
    width: 83px;
    height: 83px;
    border: 2px solid #ffffff;
    color: #ffffff;
    background: #ffffff44;
    font-size: large;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}


    .center {
    background: #ffffff60;
    width: 25px;
    height: 25px;
    border-radius: 3px;
    margin: 0px;
    border: 2px solid #ffffff80;
    color: #ffffff;
    font-size: small;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

