html,
body,
#root {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background: ivory;
    font-family: 'Bebas Neue', cursive;
}

/* .dragControls{
    z-index: 0;
} */


/* Market ================================ */
.btn {
    width: 120px;
    height: 30px;
    margin: 10px;
    border: 2px solid #ffffff;
    background: #ffffff44;
    font-size: x-large;
    border-radius: 3px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.btn:hover {
    background: #ffffff99;
    cursor: pointer;
}

.btn-gold {
    width: 120px;
    height: 30px;
    margin: 10px;
    border-radius: 3px;
    border: 2px solid #ffffff;
    background: #e8e24944;
    font-size: x-large;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 5;
}

.btn-gold:hover {
    background: #eac83099;
    cursor: pointer;
}

.market-nav {
    display: flex;
    justify-content: center;
}

.active-item {
    padding: 3px;
    margin: 5px;
    border-radius: 3px;
    width: 85%;
    border: 2px solid #ffffff;
    background: #d349e344;
    font-size: x-large;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.market-item {
    padding: 3px;
    border-radius: 3px;
    margin: 1%;
    width: 25%;
    border: 2px solid #ffffff;
    background: #ffffff44;
    font-size: large;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.market-item:hover {
    background: #ffffff99;
    cursor: pointer;
}

.open {
    background: #ffffff99;
}

.map-item {
    padding: 3px;
    border-radius: 3px;
    width: 25%;
    margin: 1%;
    border: 2px solid #ffffff;
    background: #ffffff44;
    font-size: large;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

/* .map-item {

} */

.map-item:hover {
    background: #ffffff99;
    cursor: pointer;
}




/**
 * Interface ==============================
 */
.interface {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    /* pointer-events: none; */
    font-family: 'Bebas Neue', cursive;
}

/**
 * Time
 */
.time {
    position: absolute;
    top: 15%;
    left: 0;
    width: 100%;
    color: #ffffff;
    font-size: 6vh;
    background: #00000033;
    padding-top: 5px;
    text-align: center;
}

/**
 * Restart
 */
.restart {
    display: flex;
    justify-content: center;
    position: absolute;
    top: 40%;
    left: 0;
    width: 100%;
    color: #ffffff;
    font-size: 80px;
    background: #00000033;
    padding-top: 10px;
    pointer-events: auto;
    cursor: pointer;
}

/**
 * Controls
 */

.controls .raw {
    position: absolute;
    top: 0;
    left: 0;
}

.market-btn {
    border-radius: 3px;
    width: 110px;
    height: 36px;
    margin: 5px;
    border: 2px solid #ffffff;
    color: #ffffff;
    background: #ffffff44;
    font-size: large;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.market-btn:hover {
    background: #ffffff99;
    cursor: pointer;
}

.games-btn {
    border-radius: 3px;
    width: 110px;
    height: 36px;
    margin: 5px;
    border: 2px solid #ffffff;
    color: #ffffff;
    background: #ffffff44;
    font-size: large;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.games-btn:hover {
    background: #ffffff99;
    cursor: pointer;
}

.game-item {
    padding: 3px;
    border-radius: 3px;
    margin: 5px;
    border: 2px solid #ffffff;
    background-size: cover;
    filter: grayscale();
    font-size: x-large;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100px;
}

.game-item:hover {
    cursor: pointer;
}

.avatarControls {
    position: absolute;
    bottom: 0;
    width: 100%;
}


.moveControls {
    position: absolute;
    right: 0;
    bottom: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 5px;
}

.moveBtn {
    width: 40px;
    height: 40px;
    border-radius: 3px;
    border: 2px solid #ffffff;
    color: #ffffff;
    background: #ffffff44;
    font-size: small;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.jumpBtn {
    border-radius: 3px;
    margin: 5px;
    margin-top: 2px;
    width: 128px;
    height: 80px;
    border: 2px solid #ffffff;
    color: #ffffff;
    background: #ffffff44;
    font-size: large;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}


.center {
    background: #ffffff60;
    width: 40px;
    height: 40px;
    border-radius: 3px;
    margin: 0px;
    border: 2px solid #ffffff80;
    color: #ffffff;
    font-size: small;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cameraBtn {
    border-radius: 3px;
    width: 35px;
    height: 35px;
    margin: 5px;
    margin-left: 1px;
    border: 2px solid #ffffff;
    color: #ffffff;
    background: #ffffff44;
    font-size: large;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.active {
    background: #ffffff99;
}


.lds-dual-ring {
    display: inline-block;
    width: 80px;
    height: 80px;
}

.lds-dual-ring:after {
    content: " ";
    display: block;
    width: 40px;
    height: 40px;
    margin: 8px;
    border-radius: 50%;
    border: 6px solid #fff;
    border-color: #fff transparent #fff transparent;
    animation: lds-dual-ring 1.2s linear infinite;
}

@keyframes lds-dual-ring {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}